.body-wrapper {
    min-height: 500px;
}

.body {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    margin-bottom: 20px;
}

.body-centered {
    min-height: 500px;
    display: flex;
    justify-content: center;
    align-items: center; 
}