footer {
    background-color:#1E1E1E;
    color: whitesmoke;
    font-size: 12px;
}

.link-wrapper {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.row {
    margin-top: 10px
}

.social-wrapper {
    width: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.social-wrapper {
    display: flex;
}

.social {
    width: 20px;
    height: 20px;
}

.download {
    width: 90px;
    height: 30px;
    margin: 3px
}