header {
    background-color: #007CFE;
}

header a {
    color: whitesmoke
}

.home {
    font-size: 25px
}

.header-right {
    width: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-right a:hover {
    text-decoration: none;
}

.start-free-btn {
    background-color: #424543;
    padding: 5px;
    color: whitesmoke;
}