.watching {
    width: 150px;
    height: 200px;
    border: 1px solid #1E1E1E;
    margin: 15px 15px 15px 0px;
    cursor: pointer;
    padding: 5px;
}

.poster-wrapper {
    height: 85%;
    background-color: #1E1E1E;
    display: flex;
    align-items: center;
}

.poster-wrapper img {
    width: 100%;
    height: 100%;
}

.title-wrapper {
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title {
    white-space: nowrap; 
    width: 100%;
    height: 100%; 
    overflow: hidden;
    text-overflow:ellipsis;
    display: flex;
    align-items: center;
}